<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Blog-App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="https://kit.fontawesome.com/ae8f08ae49.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="../static/css/main.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
        <header class="header container">
            <h1>The Green Blog</h1>
            <div class="header-top">
                <ul class="list">
                    <li class="button">Posts</li>
                    <li class="button">categories</li>
                </ul>
            </div>
        </header>
        <article class="container">
            <div style= "text-align: right">
            <span>
                <a class="button create-button" href="/create-post">Create New Post</a>
            </span>
            <span class="button create-button">
                Create New Categories
            </span>
<!--            <div class="modal" style= "visibility: visible">-->
<!--                <div class="modal-content  post-form">-->
<!--                    <div class="modal-header">-->
<!--                        <div class="modal-title">-->
<!--                            <h1>Add Category</h1>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <label class="modal-body">-->
<!--                        <input class="post-form-input" placeholder="Category Name" />-->
<!--                    </label>-->
<!--                    <label class="modal-footer post-form-footer">-->
<!--                        <input type="submit" value="Submit" class="button" />-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->
        </div>
<!--            <div class="content">-->
<!--                <div class="preview-box">-->
<!--                    <div class="post-img">-->
<!--                        <img src="" alt="post-img" />-->
<!--                    </div>-->
<!--                    <div class="post-content">-->
<!--                        <div class="post-content-top">-->
<!--                            <h2></h2>-->
<!--                            <p></p>-->
<!--                        </div>-->
<!--                        <div class="post-content-bottom">-->
<!--                            <span>19 claps</span>-->
<!--                        </div>-->
<!--                        <div class="admin-corner" style="display: inline-block" >-->
<!--                            <button class="edit-btn"><a href="/create-post">Edit</a></button>-->
<!--                            <button class="delete-btn">Delete</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </article>
    </body>
</html>